{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}
<header>
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="https://mdbootstrap.com/" target="_blank" class="float-start">
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

{% endblock pageContent %} 